In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
data = pd.read_csv("fifa.csv")
data

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,2202,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,2228,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,2143,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,1471,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,2281,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,1307,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,143000.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,1098,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,113000.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,1189,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,165000.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,1228,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,143000.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,1321,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,165000.0

In [4]:
data.describe()

,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,18159.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,16643.000000
mean,214298.338606,25.122206,66.238699,71.307299,1597.809908,1.113222,2.947299,2.361308,19.546096,49.734181,...,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887,228201.273629
std,29965.244204,4.669943,6.908930,6.136496,272.586016,0.394031,0.660456,0.756164,15.947765,18.364524,...,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119,299251.865865
min,16.000000,16.000000,46.000000,48.000000,731.000000,1.000000,1.000000,1.000000,1.000000,5.000000,...,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1000.000000
25%,200315.500000,21.000000,62.000000,67.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,38.000000,...,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000,2500.000000
50%,221759.000000,25.000000,66.000000,71.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,54.000000,...,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,19800.000000
75%,236529.500000,28.000000,71.000000,75.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,64.000000,...,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000,431000.000000
max,246620.000000,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,93.000000,...,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000,999000.000000

In [6]:
print(data.info)

<bound method DataFrame.info of            ID                Name  Age Nationality  Overall  Potential  \
0      158023            L. Messi   31   Argentina       94         94
1       20801   Cristiano Ronaldo   33    Portugal       94         94
2      190871           Neymar Jr   26      Brazil       92         93
3      193080              De Gea   27       Spain       91         93
4      192985        K. De Bruyne   27     Belgium       91         92
...       ...                 ...  ...         ...      ...        ...
18202  238813        J. Lundstram   19     England       47         65
18203  243165  N. Christoffersson   19      Sweden       47         63
18204  241638           B. Worman   16     England       47         67
18205  246268      D. Walker-Rice   17     England       47         66
18206  246269           G. Nugent   16     England       46         66

                      Club    Value   Wage  Special  ... Composure  Marking  \
0             FC Barcelona  €110.5M  €565K     2202  ...      96.0     33.0
1                 Juventus     €77M  €405K     2228  ...      95.0     28.0
2      Paris Saint-Germain  €118.5M  €290K     2143  ...      94.0     27.0
3        Manchester United     €72M  €260K     1471  ...      68.0     15.0
4          Manchester City    €102M  €355K     2281  ...      88.0     68.0
...                    ...      ...    ...      ...  ...       ...      ...
18202      Crewe Alexandra     €60K    €1K     1307  ...      45.0     40.0
18203       Trelleborgs FF     €60K    €1K     1098  ...      42.0     22.0
18204     Cambridge United     €60K    €1K     1189  ...      41.0     32.0
18205      Tranmere Rovers     €60K    €1K     1228  ...      46.0     20.0
18206      Tranmere Rovers     €60K    €1K     1321  ...      43.0     40.0

       StandingTackle  SlidingTackle GKDiving GKHandling GKKicking  \
0                28.0           26.0      6.0       11.0      15.0
1                31.0           23.0      7.0       11.0      15.0
2                24.0           33.0      9.0        9.0      15.0
3                21.0           13.0     90.0       85.0      87.0
4                58.0           51.0     15.0       13.0       5.0
...               ...            ...      ...        ...       ...
18202            48.0           47.0     10.0       13.0       7.0
18203            15.0           19.0     10.0        9.0       9.0
18204            13.0           11.0      6.0        5.0      10.0
18205            25.0           27.0     14.0        6.0      14.0
18206            43.0           50.0     10.0       15.0       9.0

      GKPositioning  GKReflexes Release Clause
0              14.0         8.0       226500.0
1              14.0        11.0       127100.0
2              15.0        11.0       228100.0
3              88.0        94.0       138600.0
4              10.0        13.0       196400.0
...             ...         ...            ...
18202           8.0         9.0       143000.0
18203           5.0        12.0       113000.0
18204           6.0        13.0       165000.0
18205           8.0         9.0       143000.0
18206          12.0         9.0       165000.0

[18207 rows x 84 columns]>